# Backend local secrets
SUPABASE_URL=https://rxwijdozdixhihsktcjh.supabase.co
SUPABASE_ANON_KEY=cole_a_chave_anon_aqui
SUPABASE_SERVICE_ROLE=cole_a_chave_service_role_aqui

# Database local connection
SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-sa-east-1.pooler.supabase.com:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=postgres.rxwijdozdixhihsktcjh
SPRING_DATASOURCE_PASSWORD=cole_a_senha_do_banco_aqui

# Optional
SUPABASE_STORAGE_BUCKET=service-images
APP_SEED_ENABLED=false
